* {
  box-sizing: border-box;
} 



body {
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 600px;
  font-family: "Source Sans Pro" !important;
  background-position: top center !important;
  background-size: cover;
}

.jumbotron {
  background-color: purple;
}

.container-fluid {
  margin: 0 auto;
  text-align: center;
}

.display-4 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
}

h2 {
  margin: 15px;
  line-height: 1.2;
  font-weight: bold;
  color: lightblue;
  text-align: center;
}


p,
ul,
ol,
blockquote,
address,
label {
  margin: 0 0 1rem 0;
  font-style: normal;
  color: white;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color:white;
}

a {
  text-decoration: none;
  color:white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

button {
  background-color: green;
  border: thin solid transparent;
  border-radius: 6px;
  color: greenyellow;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


body .intro {
  width: 80%;
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
}

body .burger-lists {
  width: 90%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  body .burger-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

body .burger-lists li {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  body .burger-lists li {
    text-align: left;
  }
}

body .list-box {
  background-color: black;
  border-radius: 7px;
  width: 100%;
}

body .list-title {
  padding: 20px;
}

body .list-content {
  padding: 1em 2em 2em;
}

body .add-burger-section {
  width: 600px;
  padding-top: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

body .add-burger-section input[type="text"]:focus,
body .add-burger-section input[type="text"]:hover,
body .add-burger-section input[type="text"]:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body .add-burger-section .add-burger-btn {
  border-radius: 0 6px 6px 0;
} 


